name: cron-debug

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "event=${{ github.event_name }}"
          echo "ref=${{ github.ref }}"
          date -u +"UTC now: %Y-%m-%d %H:%M:%S"
